<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/home.css">

    <style>

    </style>
</head>

<body>

    <section>
        <div class="hero">
            <div class="text">
                <h2>Morgana Management System</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam perferendis quaerat dolorem
                    laboriosam, tempora sapiente temporibus sint ipsam, suscipit facere eius. Incidunt aliquam quae
                    doloribus quia? Voluptas ullam expedita animi!</p>

                <a href=""> Add Project</a>
                <a href="" class="view"> View Projects</a>
            </div>
            <div class="image">
                <img src="/images/welcome.jpg" alt="">
            </div>

        </div>
    </section>

</body>

</html>