<head>
    <title></title>
    <link rel="stylesheet" href="/styles/projectForm.css">
</head>

<body>
    <form action="/notes/add" method="post" class="project-frm">
        <h2 class="project-head">Add Notes </h2>
        <p class="project-text">Add a note to your Project</p>
        <label for="">Project Id</label>
        <input type="text" name="project_id">
        <label for="">Note</label>
        <input type="text" name="note">
        <button class="post-btn" type="submit">Post Note</button>

    </form>
</body>