<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/projectForm.css">

</head>

<body>

    <form action="/project/add" method="post" class="project-frm">
        <h2 class="project-head">Add Project </h2>
        <p class="project-text">Use Morgana Project Manager to manage sor and organize your projects</p>
        <!-- 
        <label for="">Project id</label> -->
        <!-- <input type="hidden" value="1" name="project_id"> -->


        <label for="">Project Title</label>
        <input type="text" name="project_title">

        <label for="">Project Description</label>
        <input type="text" name="project_description">

        <label for="">Note</label>
        <input type="text" name="note">

        <label for="">Start Date</label>
        <input type="date" name="project_start_dt">

        <label for="">Start Date</label>
        <input type="date" name="project_due_dt">

        <button class="post-btn" type="submit">Post Project</button>

    </form>



</body>

</html>